AI Lead Capture & Response.json
{
  "name": "AI Lead Capture & Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "db659c4d-6a87-4ff3-8968-867310693405",
      "name": "Webhook",
      "webhookId": "7524351f-4cea-4529-8290-22bc2ad5cd85"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c3472c7-70f3-49a4-b01c-750bce786a11",
              "name": "=name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "6bd80920-a66c-412c-aa95-0ebf55daab15",
              "name": "=email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "603cc8c0-ae6c-4d6e-b189-533381a17193",
              "name": "=business",
              "value": "={{ $json.body.business }}",
              "type": "string"
            },
            {
              "id": "630afe64-5858-4766-bcb1-7d4044c90e49",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a2d5987b-4d20-4d3a-9434-103e6b242788",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY_HERE"
            },
            {
              "name": "=anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a professional business assistant. A new lead has enquired about automation services.\\n\\nLead details:\\n- Name: {{ $json.name }}\\n- Business: {{ $json.business }}\\n- Message: {{ $json.message }}\\n\\nWrite a warm, professional, personalised email response:\\n- Address them by first name\\n- Acknowledge their specific problem\\n- Briefly explain how automation can solve it\\n- Suggest a short discovery call\\n- Sign off as Samuel, Automation Consultant\\n\\nKeep it under 150 words. No subject line needed.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "175ab986-70e4-46bc-b3cb-e34b99fc09a4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email }}",
        "subject": "Re: Your Automation Enquiry",
        "emailType": "text",
        "message": "={{ $json.content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "f5f21677-efd0-46bb-9de1-e66fdb4367da",
      "name": "Send a message",
      "webhookId": "56074bca-dcaa-45b9-a21f-91b547216835",
      "credentials": {
        "gmailOAuth2": {
          "id": "79XVxZki2dpBtvB4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Thank you, we will be in touch shortly.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        0
      ],
      "id": "8d96e857-93ec-46c3-bc7e-f5968d01cdce",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4bde323d-3fb9-493f-86aa-187194d7b2ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ac40c4df33ac9e9e8630f02da91c5114a63fb9a5c908594cebbc12f9a137d6d"
  },
  "id": "0QpvCuCIga5vjYm5",
  "tags": []
}